In [3]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [13]:
# method properties
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [7]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [9]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [15]:
# also generate montly period like this

m = pd.Period('2011-1', 'M')
m

Period('2011-01', 'M')

In [17]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [19]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [23]:
# it is well known with the time period if you gives 12 montly it will take you the 1 month of the next year
m+1

Period('2011-02', 'M')

In [29]:
# daily time period

d = pd.Period('2016-2-28', 'D')
# d = pd.Period('2017-2-28', freq ='D')  both ways are correct
d

Period('2016-02-28', 'D')

In [33]:
# as 2016 is a leap year so it know to give the 29 date

d+1

Period('2016-02-29', 'D')

In [39]:
# hourly time period

h = pd.Period('2017-2-28 23:00:00', freq ='h')
h

Period('2017-02-28 23:00', 'h')

In [41]:
h.start_time

Timestamp('2017-02-28 23:00:00')

In [45]:
h.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [47]:
h+1

Period('2017-03-01 00:00', 'h')

In [49]:
h+pd.offsets.Hour(5)

Period('2017-03-01 04:00', 'h')

In [51]:
# quartly period
# Q1 represents first quarter of the year
# Q-DEC means quarter ending in dec

q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [53]:
q+1

Period('2017Q2', 'Q-DEC')

In [55]:
q.start_time

Timestamp('2017-01-01 00:00:00')

In [57]:
q.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [59]:
# for fiscal year which most companies used that the year starts fro feb and ends in jan 
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [61]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [63]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [65]:
# convert frequecy to some other frequency
q.asfreq('M', how = 'start')

Period('2016-02', 'M')

In [67]:
q.asfreq('M', how = 'end')

Period('2016-04', 'M')

In [69]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [73]:
# you cannot make mathematical operations on period
q2 - q

In [77]:
idx = pd.period_range('2011', '2017', freq = 'Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [79]:
# for fiscal year

idx = pd.period_range('2011', '2017', freq = 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [83]:
# as for fiscal year it takes the value which in that year to onward 

idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [85]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [89]:
#if you don't want to give the end time then define no of periods

idx = pd.period_range('2011', periods = 10, freq = 'Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [93]:
import numpy as np

ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011Q4   -0.235822
2012Q1    0.516826
2012Q2    1.005907
2012Q3   -0.775321
2012Q4   -0.993168
2013Q1   -0.448564
2013Q2   -0.797256
2013Q3    1.057647
2013Q4   -1.264185
2014Q1   -0.102306
Freq: Q-JAN, dtype: float64

In [95]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [97]:
ps['2011']

2011Q4   -0.235822
2012Q1    0.516826
2012Q2    1.005907
2012Q3   -0.775321
2012Q4   -0.993168
Freq: Q-JAN, dtype: float64

In [101]:
ps['2011': '2013']

2011Q4   -0.235822
2012Q1    0.516826
2012Q2    1.005907
2012Q3   -0.775321
2012Q4   -0.993168
2013Q1   -0.448564
2013Q2   -0.797256
2013Q3    1.057647
2013Q4   -1.264185
2014Q1   -0.102306
Freq: Q-JAN, dtype: float64

In [103]:
# convert to datetime index
pst = ps.to_timestamp()
pst

2010-11-01   -0.235822
2011-02-01    0.516826
2011-05-01    1.005907
2011-08-01   -0.775321
2011-11-01   -0.993168
2012-02-01   -0.448564
2012-05-01   -0.797256
2012-08-01    1.057647
2012-11-01   -1.264185
2013-02-01   -0.102306
Freq: QS-NOV, dtype: float64

In [105]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [107]:
# convet back to period index

pst.to_period()

2010Q4   -0.235822
2011Q1    0.516826
2011Q2    1.005907
2011Q3   -0.775321
2011Q4   -0.993168
2012Q1   -0.448564
2012Q2   -0.797256
2012Q3    1.057647
2012Q4   -1.264185
2013Q1   -0.102306
Freq: Q-DEC, dtype: float64

In [119]:
import pandas as pd

df = pd.read_csv("C:\\Users\\REGEN\\Documents\\python libraries\\pandas\\wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [121]:
df.set_index('Line Item', inplace = True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [123]:
# transpose row into column and column into row

df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [125]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [127]:
df.index = pd.PeriodIndex(df.index, freq = 'Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [131]:
df['start date'] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [133]:
df['end date'] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999